<div class="container">
    <div class="footer-grid">

        <section class="brand">
            <div class="brand-content">
                <a href="catalog.html" class="footer-brand"><img src="./svg/brand.svg"
                        alt="Brand"></a>
                <p class="brand-tagline">&copy; <%= __('All rights reserved.')%>
                </p>
            </div>
        </section>

        <section class="links1">
            <nav class="about-nav">
                <ul>
                    <li><a href="404.html" class="active">
                            <%= __('About us')%>
                        </a></li>
                    <li><a href="404.html">
                            <%= __('Contact')%>
                        </a></li>
                    <li><a href="404.html">
                            <%= __('NodePop PRO')%>
                        </a></li>
                    <li><a href="404.html">
                            <%= __('Press')%>
                        </a></li>
                </ul>
            </nav>
        </section>

        <section class="links2">
            <nav class="carrers-nav">
                <ul>
                    <li><a href="404.html" class="active">
                            <%= __('Carrers')%>
                        </a></li>
                    <li><a href="404.html">
                            <%= __('Support')%>
                        </a></li>
                    <li><a href="404.html">
                            <%= __('Privacy policy')%>
                        </a></li>
                    <li><a href="404.html">
                            <%= __('Cookies')%>
                        </a></li>
                </ul>
            </nav>
        </section>

        <section>
            <p>
                <%= __('Follow us')%>:
            </p>
            <nav class="social-icons">
                <ul>
                    <li><a href="https://www.facebook.com/keepcoding.training/"><img
                                src="./svg/icon-facebook.svg" alt=""></a></li>
                    <li><a href="https://www.youtube.com/channel/UCz-oGx94gqD1lICJQZGniLA"><img
                                src="./svg/icon-youtube.svg" alt=""></a></li>
                    <li><a href="https://twitter.com/intent/follow?screen_name=KeepCoding_"><img
                                src="./svg/icon-twitter.svg" alt=""></a></li>
                    <li><a href="https://www.instagram.com/keepcoding_es/?hl=es"><img
                                src="./svg/icon-instagram.svg" alt=""></a></li>
                </ul>
            </nav>
        </section>
    </div>
</div>